@keyframes up-down {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-2rem); }
  100% {
    transform: translateY(0); } }

@keyframes from-left {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes from-right {
  0% {
    transform: translateX(100px); }
  100% {
    transform: translateY(0); } }

@keyframes from-bottom {
  0% {
    transform: translateY(100px); }
  100% {
    transform: translateY(0); } }

@keyframes rotate-zero {
  0% {
    transform: rotateZ(-10deg); }
  100% {
    transform: rotateZ(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

textarea:focus,
input:focus,
button:focus {
  outline: none; }

body {
  font-family: 'Roboto', sans-serif; }

.heading {
  font-family: 'Staatliches', cursive; }

.heading-primary {
  font-size: 5rem;
  letter-spacing: 0.4rem; }

.heading-secondary {
  font-size: 4rem;
  letter-spacing: 2px;
  color: #eee;
  line-height: 5rem; }
  .heading-secondary__sm {
    color: #ffd71b;
    display: inline-block;
    font-size: 2rem; }

.text-primary {
  font-size: 1.7rem;
  line-height: 2.5rem;
  color: #eee; }

.text-secondary {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #eee; }

.main-container {
  max-width: 114rem;
  width: 95%;
  margin: auto; }

.btn {
  font-family: 'Staatliches', cursive;
  background-color: #ffd71b;
  color: #000;
  padding: 1.5rem 0;
  border: none;
  font-size: 2rem;
  width: 20rem;
  display: inline-block;
  text-decoration: none; }

.mb-bg {
  margin-bottom: 2rem; }

.main-footer__upper {
  padding: 5rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.main-footer__upper-content {
  width: 90%;
  margin: auto; }

.main-footer__logo-cont {
  width: 5rem;
  margin: 0 auto 2rem auto; }
  .main-footer__logo-cont img {
    width: 100%; }

.main-footer__news-ltr-msg {
  color: #eee;
  text-align: center;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.6rem;
  margin-bottom: 3rem; }

.main-footer__news-ltr-form {
  margin: auto;
  width: 100%;
  max-width: 40rem;
  padding: 1rem; }
  .main-footer__news-ltr-form input {
    padding: 2rem;
    width: calc(100% - 8rem);
    background: inherit;
    border: none;
    color: #eee;
    font-size: 1.6rem;
    display: block;
    width: 100%;
    background: #000;
    border: 1px solid #c8c8c8;
    margin-bottom: 1rem; }
  .main-footer__news-ltr-form .btn--news-ltr-form {
    width: 100%;
    display: block;
    background: #000;
    border: 1px solid #c8c8c8;
    color: #c8c8c8; }

.main-footer__lower {
  min-height: 30rem;
  background: #000; }

.main-footer__lower {
  padding: 4rem 0;
  background: #000; }

.main-footer__links {
  margin-bottom: 4rem; }

.main-footer__link a {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #dddddd;
  padding: 1.5rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Staatliches', cursive; }

.main-footer .socials {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 4rem auto;
  max-width: 25rem; }
  .main-footer .socials .social-cont {
    width: 2.5rem; }
    .main-footer .socials .social-cont img {
      width: 100%; }

.main-footer .site-info {
  max-width: 40rem;
  margin: auto; }
  .main-footer .site-info span {
    color: #fff;
    font-size: 1.2rem;
    max-width: 40rem;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    letter-spacing: 2px; }

.map {
  text-align: center;
  position: relative;
  padding-top: 100px; }
  .map .info {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 90%;
    background: #000;
    margin: auto;
    padding: 6rem 4rem;
    border-radius: 5px;
    z-index: 2; }
    .map .info .address {
      margin-top: 3rem;
      display: flex;
      align-items: center; }
      .map .info .address .icon-cont {
        width: 3rem;
        margin-right: 2rem; }
        .map .info .address .icon-cont img {
          width: 100%; }
      .map .info .address .text {
        color: #eee;
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: left; }
  .map .map-cont {
    z-index: 1;
    height: 50rem;
    width: 100%; }
    .map .map-cont img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      object-position: center; }

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 2rem 1.5rem;
  transition: 0.2s; }
  .main-nav--main-container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .main-nav__sm-scr-menu-icon-cont {
    width: 3.5rem; }
  .main-nav__sm-scr-menu-icon {
    width: 100%; }
  .main-nav__brand-logo-cont {
    width: 4rem; }
  .main-nav__brand-logo {
    width: 100%; }

.main-nav-inv {
  background: #000;
  padding: 1.5rem 1rem; }

body {
  background: #ffd71b; }

.contact-header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  min-height: 60rem;
  z-index: 1;
  position: relative; }
  .contact-header--heading-secondary {
    display: inline-block;
    padding: 20rem 2rem 0rem 2rem; }

.contact-main {
  padding: 0 0 0rem 0;
  z-index: 9;
  position: relative; }
  .contact-main__form-container {
    margin-top: -15rem;
    animation: from-bottom 0.7s ease-out; }
  .contact-main__form {
    background: #000;
    padding: 4rem 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
    .contact-main__form-field {
      margin-bottom: 2rem; }
      .contact-main__form-field label {
        display: block;
        margin-bottom: 1rem;
        color: #ffffff;
        font-size: 1.2rem; }
      .contact-main__form-field input,
      .contact-main__form-field textarea {
        padding: 1.5rem 1rem;
        border: 1px solid #222;
        width: 100%;
        resize: none;
        background: #222;
        font-size: 1.6rem;
        color: #eee; }
        .contact-main__form-field input:focus,
        .contact-main__form-field textarea:focus {
          border: 1px solid #ffd71b; }
    .contact-main__form--btn {
      margin-top: 1rem;
      padding: 1.5rem;
      font-size: 1.6rem;
      width: 100%; }
  .contact-main__contact-alt {
    padding: 8rem 1rem 5rem 1rem; }
    .contact-main__contact-alt__row {
      padding: 0 0 5rem 0; }
      .contact-main__contact-alt__row:last-child {
        padding: 0; }
      .contact-main__contact-alt__row h2 {
        font-size: 3.5rem;
        margin-bottom: 2rem; }
      .contact-main__contact-alt__row__contact-method {
        display: flex;
        align-items: center;
        margin-bottom: 1.3rem; }
        .contact-main__contact-alt__row__contact-method:last-child {
          align-items: unset; }
          .contact-main__contact-alt__row__contact-method:last-child span {
            margin-top: 0.6rem; }
        .contact-main__contact-alt__row__contact-method :last-child {
          margin-bottom: 0rem; }
        .contact-main__contact-alt__row__contact-method__icon-cont {
          display: inline-block;
          width: 2.5rem;
          margin-right: 1.3rem; }
          .contact-main__contact-alt__row__contact-method__icon-cont img {
            width: 100%; }
        .contact-main__contact-alt__row__contact-method .text {
          font-size: 1.5rem;
          text-transform: uppercase;
          line-height: 2.7rem; }
      .contact-main__contact-alt__row .socials {
        display: flex;
        align-items: center; }
        .contact-main__contact-alt__row .socials__social {
          width: 2.5rem;
          margin-right: 2rem; }
          .contact-main__contact-alt__row .socials__social img {
            width: 100%; }

.home-header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1578474846511-04ba529f0b88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative; }
  .home-header .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 93%; }
  .home-header--heading-primary {
    margin-bottom: 1.5rem;
    animation: from-left 1s ease-out; }
  .home-header--text-primary {
    margin-bottom: 3rem;
    animation: from-left 1s ease-out; }
  .home-header--btn {
    animation: from-right 1s ease-out; }
  .home-header__scroll-animation-cont {
    animation-iteration-count: infinite;
    position: absolute;
    left: 50%;
    top: 96%;
    width: 4rem;
    transform: translate(-50%, -50%); }
  .home-header__scroll-animation {
    width: 100%; }

.greetings {
  padding: 4rem 0;
  background: #000; }
  .greetings__msg {
    padding: 0rem 2rem 2rem 2rem; }
  .greetings--heading-secondary {
    margin-bottom: 2rem; }
  .greetings--text-primary {
    font-size: 1.5rem; }
  .greetings__visual {
    padding: 2rem 2rem 0 2rem; }
  .greetings__visual-img-cont {
    width: 100%;
    height: 40rem;
    overflow: hidden; }
  .greetings__visual-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }

.features {
  background-color: orange;
  z-index: 2; }
  .features__feature {
    width: 100%;
    height: 60rem;
    overflow: hidden;
    position: relative;
    z-index: 2; }
    .features__feature::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1; }
  .features__feature-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0; }
  .features__content {
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 80%;
    text-align: center; }
  .features--heading-secondary {
    margin-bottom: 2rem;
    font-size: 4rem; }
  .features--text-secondary {
    margin-bottom: 3rem;
    width: 80%;
    line-height: 2.8rem;
    margin: 0 auto 3rem auto;
    color: #fff; }

.menu-features {
  padding: 4rem 1rem;
  text-align: center;
  background: #000; }
  .menu-features__row {
    margin-top: 4rem;
    text-align: left;
    margin-bottom: 4rem; }
  .menu-features__feature {
    padding: 5rem 2rem;
    background: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 2.5rem; }
    .menu-features__feature:last-child {
      margin-bottom: 0; }
  .menu-features__icon-cont {
    width: 6rem;
    margin-bottom: 1.5rem; }
    .menu-features__icon-cont img {
      width: 100%; }
  .menu-features__feature-name {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #eee; }
  .menu-features__feature-desc {
    font-size: 1.4rem;
    color: #afafaf;
    line-height: 2.5rem;
    font-weight: 400; }

.testimonial {
  padding: 5rem 0;
  background: linear-gradient(93deg, #333 35%, #222 63%);
  position: relative;
  text-align: center; }
  .testimonial__testimonials-cont {
    margin: 4rem 0; }
  .testimonial__single-testimonial {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 42rem;
    margin-bottom: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1554679665-f5537f187268?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-size: cover;
    top: 1.5rem; }
    .testimonial__single-testimonial:nth-child(1) {
      z-index: 5;
      width: 95%; }
    .testimonial__single-testimonial:nth-child(2) {
      z-index: 8;
      min-height: 42rem;
      width: 95%; }
    .testimonial__single-testimonial:nth-child(3) {
      z-index: 5;
      width: 95%; }
    .testimonial__single-testimonial .quotes-icon-cont {
      width: 4rem;
      margin: 0 auto 2.5rem auto; }
      .testimonial__single-testimonial .quotes-icon-cont img {
        width: 100%; }
  .testimonial__review {
    color: #c7c7c7;
    line-height: 3rem;
    font-size: 1.4rem;
    text-align: center;
    font-style: italic;
    max-width: 50rem;
    width: 90%;
    margin: 0 auto 1.5rem auto; }
  .testimonial h3 {
    color: #eee;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center; }
  .testimonial .testimonial__prof {
    color: #c7c7c7;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 2px; }

.home--map {
  background: linear-gradient(93deg, #333 35%, #222 63%); }

.menu-header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1511017049469-e0d1ba0219a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  min-height: 60rem;
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%); }
  .menu-header--heading-secondary {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); }

.menu-section .menu-cat-list {
  width: 95%;
  margin: auto; }
  .menu-section .menu-cat-list:first-child {
    transform: translateY(-10rem); }
  .menu-section .menu-cat-list:last-child {
    transform: translateY(-7rem); }
  .menu-section .menu-cat-list .menu {
    animation: from-bottom 0.7s ease-out;
    background: #000;
    padding: 3rem 2.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 3rem; }
    .menu-section .menu-cat-list .menu:last-child {
      margin-bottom: 0rem; }
    .menu-section .menu-cat-list .menu .category-items {
      margin-top: 1rem; }
      .menu-section .menu-cat-list .menu .category-items .category-item {
        padding: 2rem 0;
        border-bottom: 1px dashed grey; }
        .menu-section .menu-cat-list .menu .category-items .category-item:last-child {
          border-bottom: none;
          padding-bottom: 0; }
        .menu-section .menu-cat-list .menu .category-items .category-item .upper {
          display: flex;
          color: #eee;
          justify-content: space-between;
          margin-bottom: 1rem; }
          .menu-section .menu-cat-list .menu .category-items .category-item .upper h5 {
            font-size: 1.7rem;
            letter-spacing: 1px;
            text-transform: uppercase; }
          .menu-section .menu-cat-list .menu .category-items .category-item .upper .item-price {
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: 1px; }
        .menu-section .menu-cat-list .menu .category-items .category-item .bottom .item-info {
          color: #c8c8c8;
          line-height: 2rem;
          font-size: 1.2rem;
          width: 90%;
          font-weight: 500;
          letter-spacing: 1px; }
