@keyframes up-down {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-2rem); }
  100% {
    transform: translateY(0); } }

@keyframes from-left {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes from-right {
  0% {
    transform: translateX(100px); }
  100% {
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.heading {
  font-family: 'Staatliches', cursive; }

.heading-primary {
  font-size: 5rem;
  letter-spacing: 0.4rem; }

.heading-secondary {
  font-size: 3rem;
  letter-spacing: 2px;
  color: #eee;
  line-height: 3.5rem; }

.text-primary {
  font-size: 1.7rem;
  line-height: 2.5rem;
  color: #eee; }

.text-secondary {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #eee; }

.main-container {
  max-width: 1200px;
  width: 95%;
  margin: auto; }

.btn {
  font-family: 'Staatliches', cursive;
  background-color: #ffd71b;
  color: #000;
  padding: 1.5rem 0;
  border: none;
  font-size: 2rem;
  width: 20rem; }

.mb-bg {
  margin-bottom: 2rem; }

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 2rem 1.5rem;
  transition: 0.2s; }
  .main-nav--main-container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .main-nav__sm-scr-menu-icon-cont {
    width: 3rem; }
  .main-nav__sm-scr-menu-icon {
    width: 100%; }
  .main-nav__brand-logo-cont {
    width: 4rem; }
  .main-nav__brand-logo {
    width: 100%; }

.main-nav-inv {
  background: #000;
  padding: 1rem; }

.home-header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1578474846511-04ba529f0b88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative; }
  .home-header .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 93%; }
  .home-header--heading-primary {
    margin-bottom: 1.5rem;
    animation: from-left 1s ease-out; }
  .home-header--text-primary {
    margin-bottom: 3rem;
    animation: from-left 1s ease-out; }
  .home-header--btn {
    animation: from-right 1s ease-out; }
  .home-header__scroll-animation-cont {
    animation: up-down 4s ease-out;
    animation-iteration-count: infinite;
    position: absolute;
    left: 45%;
    top: 93%;
    width: 4rem;
    transform: translate(-50%, -50%); }
  .home-header__scroll-animation {
    width: 100%; }

.greetings {
  padding: 4rem 0;
  background: #000; }
  .greetings__msg {
    padding: 0rem 2rem 2rem 2rem; }
  .greetings--heading-secondary {
    margin-bottom: 2rem; }
  .greetings--text-primary {
    font-size: 1.5rem; }
  .greetings__visual {
    padding: 2rem 2rem 0 2rem; }
  .greetings__visual-img-cont {
    width: 100%;
    height: 40rem;
    overflow: hidden; }
  .greetings__visual-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }

.features {
  background-color: orange;
  z-index: 2; }
  .features__feature {
    width: 100%;
    height: 60rem;
    overflow: hidden;
    position: relative;
    z-index: 2; }
    .features__feature::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1; }
  .features__feature-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0; }
  .features__content {
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 80%;
    text-align: center; }
  .features--heading-secondary {
    margin-bottom: 2rem;
    font-size: 4rem; }
  .features--text-secondary {
    margin-bottom: 3rem;
    width: 80%;
    line-height: 2.8rem;
    margin: 0 auto 3rem auto;
    color: #fff; }

.menu-hl {
  background: #181a1b;
  background: linear-gradient(to bottom, #ffd71b, #ffd71b);
  padding: 5rem 1rem;
  text-align: center;
  position: relative; }
  .menu-hl--heading-secondary {
    text-align: center;
    position: absolute;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -55%);
    padding: 3rem;
    display: inline-block;
    margin-bottom: 6rem;
    color: #000;
    border-radius: 20rem;
    background: #000;
    color: #ffd71b;
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
  .menu-hl__row {
    margin-top: 10rem;
    margin-bottom: 6rem; }
  .menu-hl__col {
    padding: 1rem 1rem 2rem 1rem;
    background: #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 1rem; }
  .menu-hl__menu-item {
    margin-bottom: 2rem; }
    .menu-hl__menu-item:last-child {
      margin-bottom: 0; }
    .menu-hl__menu-item-upper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1rem; }
    .menu-hl__menu-item-name {
      font-size: 1.5rem;
      color: #eee; }
    .menu-hl__menu-item-price {
      font-size: 1.4rem;
      color: #ffd71b; }
    .menu-hl__menu-item-btm {
      padding: 0rem 1rem; }
    .menu-hl__menu-item-ing {
      display: flex;
      align-items: center;
      color: #969696;
      font-size: 1.1rem;
      font-weight: bold; }
      .menu-hl__menu-item-ing span {
        margin-left: 0.5rem; }
        .menu-hl__menu-item-ing span:first-child {
          margin-left: 0; }
  .menu-hl--btn {
    background: #000;
    color: #ffd71b;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); }
