.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 2rem 1.5rem;
  transition: 1s;
  &--main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__sm-scr-menu-icon-cont {
    width: 3.5rem;
  }

  &__sm-scr-menu-icon {
    width: 100%;
  }
  &__brand-logo-cont {
    width: 4.5rem;
  }
  &__brand-logo {
    width: 100%;
  }
}

.main-nav-inv {
  background: #000;
  padding: 1.5rem;
}
