*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}
