*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
  overflow-x: hidden;
  @include respond(tab-port) {
    font-size: 67%;
  }
  @include respond(tab-land) {
    font-size: 70%;
  }
  @include respond(small-desk) {
    font-size: 72%;
  }
  @include respond(big-desk) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  background: linear-gradient(93deg, #333 35%, #222 63%);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}
