body {
  font-family: 'Roboto', sans-serif;
}

.heading {
  font-family: 'Staatliches', cursive;
}

.heading-primary {
  font-size: 5rem;
  letter-spacing: 0.4rem;
}

.heading-secondary {
  font-size: 3rem;
  letter-spacing: 2px;
  color: #eee;
  line-height: 3.5rem;
}

.text-primary {
  font-size: 1.7rem;
  line-height: 2.5rem;
  color: #eee;
}

.text-secondary {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #eee;
}
