body {
  font-family: 'Roboto', sans-serif;
}

.heading {
  font-family: 'Staatliches', cursive;
}

.heading-primary {
  font-size: 5rem;
  letter-spacing: 0.4rem;
}

.text-primary {
  font-size: 1.7rem;
  line-height: 2.5rem;
  color: #eee;
}
