body {
  font-family: 'Roboto', sans-serif;
}

.heading {
  font-family: 'Staatliches', cursive;
}

.heading-primary {
  font-size: 5rem;
  letter-spacing: 0.4rem;
  color: #eee;
  @include respond(tab-port) {
    font-size: 6rem;
  }
  @include respond(tab-land) {
    font-size: 8rem;
    letter-spacing: 6px;
  }
}

.heading-secondary {
  font-size: 4rem;
  letter-spacing: 2px;
  line-height: 5rem;
  color: #eee;
  &__sm {
    color: $clr-yellow;
    display: inline-block;
    font-size: 2rem;
  }
}

.text-primary {
  font-size: 1.7rem;
  line-height: 2.8rem;
  color: rgb(230, 230, 230);
}

.text-secondary {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #eee;
}
