.about-header {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('https://images.unsplash.com/photo-1511017049469-e0d1ba0219a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &--heading-primary {
    color: #eee;
    text-align: center;
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    @include respond(tab-land) {
      top: 35rem;
    }
  }
  .img-cont {
    width: 97%;
    max-width: 114rem;
    position: absolute;
    left: 50%;
    top: 30rem;
    transform: translateX(-50%);
    overflow: hidden;
    background-image: url('https://images.unsplash.com/photo-1511017049469-e0d1ba0219a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    height: calc(100vh - 30rem);
    background-position: center;
    background-repeat: no-repeat;
    @include respond(tab-land) {
      top: 35rem;
      height: calc(100vh - 40rem);
    }
    img {
      display: none;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.about-info {
  padding: 5rem 2rem;
  background: #111;
 // text-align: center;
  &--heading-secondary {
    margin-bottom: 3rem;
    letter-spacing: 3px;
    color: #eee;
  }
  &--text-secondary {
    max-width: 800px;
  }
}

.about-main {
  background: #000;
  &__row {
    padding: 0rem 2rem 8rem 2rem;
    @include respond(tab-port) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:nth-child(2),
      &:nth-child(4) {
        .about-main__img-cont {
          order: 5;
        }
      }
    }
    &:first-child {
      padding-top: 8rem;
    }
  }
  &__img-cont {
    width: 100%;
    -webkit-box-shadow: -8px -8px 0px 2px $clr-yellow;
    -moz-box-shadow: -8px -8px 0px 2px $clr-yellow;
    box-shadow: -8px -8px 0px 2px $clr-yellow;
    margin-bottom: 4rem;
    @include respond(tab-port) {
      margin-bottom: 0;
      width: 50%;
    }
    @include respond(tab-land) {
      width: 40%;
    }
    img {
      width: 100%;
    }
  }
  &__details {
    color: #eee;
    @include respond(tab-port) {
      width: 46%;
    }
    @include respond(tab-land) {
      width: 55%;
    }
    .short-heading {
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 3px;
      margin-bottom: 1rem;
    }
    .yellow-line {
      height: 1px;
      width: 5rem;
      border: 0;
      background: $clr-yellow;
      margin-bottom: 2rem;
    }
  }
  &--heading {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2rem;
  }
  &--text-secondary {
    color: rgb(200, 200, 200);
  }
}

.about--map {
  background: #000;
}
