.contact--body {
  background: $clr-yellow;
}

.contact-header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  min-height: 90vh;
  z-index: 1;
  position: relative;
  &--heading-primary {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.contact-main {
  padding: 0 0 0rem 0;
  @include respond(tab-land) {
   padding-bottom: 12rem;   
  }
  z-index: 9;
  position: relative;
  &--main-container {
    @include respond(tab-land) {
      display: flex;
    }
  }
  &__form-container {
    margin-top: -15rem;
    animation: from-bottom 0.7s ease-out;
    @include respond(tab-land) {
     width: 50%; 
    }
  }

  &__form {
    background: #000;
    padding: 4rem 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    &-field {
      margin-bottom: 2rem;

      label {
        display: block;
        margin-bottom: 1rem;
        color: #ffffff;
        font-size: 1.2rem;
      }
      input,
      textarea {
        padding: 1.5rem 1rem;
        border: 1px solid #222;
        width: 100%;
        resize: none;
        background: #222;
        font-size: 1.6rem;
        color: #eee;
        &:focus {
          border: 1px solid $clr-yellow;
        }
      }
    }
    &--btn {
      margin-top: 1rem;
      padding: 1.5rem;
      font-size: 1.6rem;
      width: 100%;
    }
  }
  &__contact-alt {
    padding: 8rem 1rem 5rem 1rem;
    @include respond(tab-land) {
     padding: 0 0 0 5rem; 
     margin-top: -5rem;
    }
    &__row {
      padding: 0 0 5rem 0;
      &:last-child {
        padding: 0;
      }
      &__contact-method {
        display: flex;
        align-items: center;
        margin-bottom: 1.3rem;
        &:last-child {
          align-items: unset;
          span {
            margin-top: 0.6rem;
          }
        }
        :last-child {
          margin-bottom: 0rem;
        }
        &__icon-cont {
          display: inline-block;
          width: 2.5rem;
          margin-right: 1.3rem;
          img {
            width: 100%;
          }
        }
        .text {
          font-size: 1.5rem;
          text-transform: uppercase;
          line-height: 2.7rem;
        }
      }
      .socials {
        display: flex;
        align-items: center;
        &__social {
          width: 2.5rem;
          margin-right: 2rem;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  &--heading-secondary {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: #000;
  }
}
