body {
  background: $clr-yellow;
}

.contact-header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  min-height: 60rem;
  z-index: 1;
  position: relative;
  &--heading-secondary {
    display: inline-block;
    padding: 20rem 2rem 0rem 2rem;
  }
}

.contact-main {
  padding: 0 0 5rem 0;
  z-index: 10;
  position: relative;
  &__form-container {
    margin-top: -15rem;
    animation: from-bottom 0.7s ease-out;
  }
  &__form {
    background: #000;
    padding: 4rem 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    &-field {
      margin-bottom: 2rem;

      label {
        display: block;
        margin-bottom: 1rem;
        color: #ffffff;
        font-size: 1.2rem;
      }
      input,
      textarea {
        padding: 1.2rem 1rem;
        width: 100%;
        border: none;
        background: #222;
        font-size: 1.6rem;
        color: #eee;
      }
    }
    &--btn {
      margin-top: 1rem;
      padding: 1.2rem;
      font-size: 1.6rem;
      width: 100%;
    }
  }
  &__contact-alt {
    padding: 5rem 0;
    h2 {
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }
    &__row {
      &__contact-method {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        :last-child {
          margin-bottom: 0rem;
        }
        &__icon-cont {
          display: inline-block;
          width: 2.5rem;
          margin-right: 1.3rem;
          img {
            width: 100%;
            
          }
        }
        .text {
          font-size:  1.8rem;
        }
      }
    }
  }
}
