.home-header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://images.unsplash.com/photo-1578474846511-04ba529f0b88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');

  @include respond(tab-land) {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('https://images.unsplash.com/photo-1513491714241-33805f8ff175?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  }

  min-height: 100vh;
  background-size: cover !important;
  background-position: center;
  position: relative;
  background-repeat: no-repeat !important;
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 93%;
  }
  &--heading-primary {
    margin-bottom: 1.5rem;
    animation: from-left 1s ease-out;
  }

  &--text-primary {
    margin-bottom: 3rem;
    animation: from-left 1s ease-out;
  }
  &--btn {
    animation: from-right 1s ease-out;
  }
}

.greetings {
  padding: 4rem 0;
  background: #000;
  @include respond(tab-port) {
    padding: 8rem 0;
  }
  @include respond(tab-land) {
    padding: 10rem 0;
  }
  &--main-container {
    @include respond(tab-land) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__msg {
    padding: 0rem 2rem 2rem 2rem;
    max-width: 70rem;
    //animation: from-left 1s ease-out;
    @include respond(tab-land) {
      width: 60%;
    }
  }

  &--heading-secondary {
    margin-bottom: 2rem;
  }
  &--text-primary {
    font-size: 1.5rem;
  }

  &__visual {
    padding: 2rem 2rem 0 2rem;
   // animation: from-right 1s ease-out;
    @include respond(tab-land) {
      width: 40%;
    }
  }

  &__visual-img-cont {
    width: 100%;
    height: 40rem;
    overflow: hidden;
    @include respond(tab-land) {
      height: 50rem;
      border-radius: 5px;
    }
  }
  &__visual-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &--btn {
    display: none;
    @include respond(tab-land) {
      text-align: center;
      margin-top: 4rem;
      display: inline-block;
    }
  }
}

.features {
  background-color: orange;
  z-index: 2;
  @include respond(tab-land) {
    display: flex;
  }
  &__feature {
    width: 100%;
    height: 60rem;
    overflow: hidden;
    position: relative;
    z-index: 2;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1;
    }
  }
  &__feature-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
  }
  &__content {
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 80%;
    text-align: center;
  }
  &--heading-secondary {
    margin-bottom: 4rem;
    font-size: 4rem;
    @include respond(tab-land) {
      margin-bottom: 4rem;
    }
  }
  &--text-secondary {
    width: 90%;
    line-height: 3.3rem;
    margin: 0 auto 5rem auto;
    color: #fff;
 color: rgb(210, 210, 210);
    @include respond(tab-land) {
     
    }
  }
}

.menu-features {
  padding: 4rem 0rem;
  text-align: center;
  background: #000;
  @include respond(tab-port) {
    padding: 8rem 0;
  }
  &__row {
    margin-top: 4rem;
    text-align: left;
    margin-bottom: 4rem;
    @include respond(tab-land) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6rem;
    }
  }
  &__feature {
    padding: 5rem 2rem;
    background: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 2.5rem;
    @include respond(tab-land) {
      width: 31%;
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
      @include respond(tab-land) {
        margin-bottom: 0;
      }
    }
  }
  &__icon-cont {
    width: 6rem;
    margin-bottom: 1.5rem;
    img {
      width: 100%;
    }
  }
  &__feature-name {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #eee;
  }
  &__feature-desc {
    font-size: 1.4rem;
    color: rgb(175, 175, 175);
    line-height: 2.5rem;
    font-weight: 400;
  }
}

.testimonial {
  padding: 4rem 0;
  background: linear-gradient(93deg, #333 35%, #222 63%);
  position: relative;
  text-align: center;
  @include respond(tab-port) {
    padding: 8rem 0;
  }
  &__testimonials-cont {
    margin: 4rem 0;
    @include respond(tab-land) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__single-testimonial {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 42rem;
    margin-bottom: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url('https://images.unsplash.com/photo-1554679665-f5537f187268?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-size: cover;
    top: 1.5rem;
    @include respond(tab-land) {
      width: 31%;
    }
    &:nth-child(1) {
      z-index: 5;
      width: 95%;
      @include respond(tab-land) {
        width: 31%;
      }
    }
    &:nth-child(2) {
      z-index: 8;
      min-height: 42rem;
      width: 95%;
      @include respond(tab-land) {
        width: 31%;
      }
    }
    &:nth-child(3) {
      z-index: 5;
      width: 95%;
      @include respond(tab-land) {
        width: 31%;
      }
    }
    .quotes-icon-cont {
      width: 4rem;
      margin: 0 auto 2.5rem auto;
      img {
        width: 100%;
      }
    }
  }
  &__review {
    color: rgb(199, 199, 199);
    line-height: 3rem;
    font-size: 1.4rem;
    text-align: center;
    font-style: italic;
    max-width: 50rem;
    width: 80%;
    margin: 0 auto 1.5rem auto;
  }
  h3 {
    color: #eee;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
  }
  .testimonial__prof {
    color: rgb(199, 199, 199);
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;

    letter-spacing: 2px;
  }
}

.home--map {
  background: linear-gradient(93deg, #333 35%, #222 63%);
}
