.home-header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://images.unsplash.com/photo-1578303167445-010412f56624?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 93%;
  }
  &--heading-primary {
    margin-bottom: 1.5rem;
  }

  &--text-primary {
    margin-bottom: 3rem;
  }

  &__scroll-animation-cont {
    animation: up-down 4s ease-out;
    animation-iteration-count: infinite;
    position: absolute;
    left: 45%;
    top: 93%;
    width: 4rem;
    transform: translate(-50%, -50%);
  }
  &__scroll-animation {
    width: 100%;
  }
}

.greetings {
  padding: 4rem 0;
  background: #000;
  &__msg {
    padding: 0rem 2rem 2rem 2rem;
  }

  &--heading-secondary {
    margin-bottom: 2rem;
  }
  &--text-primary {
    font-size: 1.5rem;
  }

  &__visual {
    padding: 2rem 2rem 0 2rem;
  }

  &__visual-img-cont {
    width: 100%;
    height: 40rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.features {
  background-color: orange;
  &__feature {
    width: 100%;
    height: 60rem;
    overflow: hidden;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 0;
    }
  }
  &__content {
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 80%;
    text-align: center;
  }
  &--heading-secondary {
    margin-bottom: 2rem;
  }
  &--text-secondary {
    margin-bottom: 3rem;
  }
}
